# Ignore folders
.vs/
bin/
obj/

Back_end/Gateway/ApiGateway/bin/
Back_end/Gateway/ApiGateway/obj/
Back_end/Infrastructure/Logger/.vs/
Back_end/Infrastructure/Logger/bin/
Back_end/Infrastructure/Logger/obj/

Back_end/Users/Users.Api/bin/
Back_end/Users/Users.Api/obj/
Back_end/Users/Users.Application/bin/
Back_end/Users/Users.Application/obj/
Back_end/Users/Users.Domain/bin/
Back_end/Users/Users.Domain/obj/
Back_end/Users/Users.Infrastructure/bin/
Back_end/Users/Users.Infrastructure/obj/

Back_end/Sales/Sales.Api/bin/
Back_end/Sales/Sales.Api/obj/
Back_end/Sales/Sales.Application/bin/
Back_end/Sales/Sales.Application/obj/
Back_end/Sales/Sales.Domain/bin/
Back_end/Sales/Sales.Domain/obj/
Back_end/Sales/Sales.Infrastructure/bin/
Back_end/Sales/Sales.Infrastructure/obj/

Back_end/Requests/Requests.Api/bin/
Back_end/Requests/Requests.Api/obj/
Back_end/Requests/Requests.Application/bin/
Back_end/Requests/Requests.Application/obj/
Back_end/Requests/Requests.Domain/bin/
Back_end/Requests/Requests.Domain/obj/
Back_end/Requests/Requests.Infrastructure/bin/
Back_end/Requests/Requests.Infrastructure/obj/
